html {
  text-align: center;
  font-size: 68px;
  font-family: "EB Garamond", serif;
}

div {
  margin: unset;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
  width: 100%;
}

/* text */
.title {
  font-size: 100px;
  letter-spacing: 5px;
  font-weight: 500;
}
