@font-face {
  font-family: "CustomFont";
  src: url("./assets/fonts/Mutiara_Calligraphy.otf") format("opentype");
}

html {
  position: absolute;
  font-family: "EB Garamond", serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

div {
  margin: unset;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: f2dfce;
}

/* containers */

hr {
  border-top: 1px solid black;
  width: 80%;
}

section {
  width: 90%;
  margin: 0 5%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  background-color: #f2dfce;
  border: solid black;
  border-width: 0 1px 0 1px;
  padding: 2rem 0;
}

.navbar {
  display: flex;
  gap: 2rem;

  > a {
    text-decoration: none;
    color: inherit;
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

/* text */

h1,
h2,
h3,
h4 {
  margin: unset;
  font-family: CustomFont;
  letter-spacing: 0rem;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

section {
  > h3 {
    margin-left: 1rem;
    text-align: left;
  }
}
