@font-face {
  font-family: "CustomFont";
  src: url("./assets/fonts/Mutiara_Calligraphy.otf") format("opentype");
}

html {
  position: absolute;
  text-align: center;
  font-family: "EB Garamond", serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

div {
  margin: unset;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: f2dfce;
}

/* containers */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  width: 100dvh;
  max-width: 1500px;
  margin: 0 auto;
  background-color: #f2dfce;
  border: solid black;
  border-width: 0 1px 0 1px;
  padding: 2rem 0;
  /* background-image: url("./assets/419.webp");
  background-size: contain;
  background-repeat: no-repeat; */
}

.navbar {
  display: flex;
  gap: 2rem;

  > a {
    text-decoration: none;
    color: inherit;
  }
}

/* text */

h1,
h2,
h3,
h4 {
  margin: unset;
  font-family: CustomFont;
  letter-spacing: 0rem;
  font-weight: 500;
}

h1 {
  font-size: 3rem;
}
