html {
  height: 2400px;
  width: 450px;
  font-size: 68px;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  background-color: #fff000;
}

div {
  margin: unset;
}

body {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 2400px;
  width: 450px;
  background-color: white;
}

img {
  position: absolute;
  width: 400px;
  left: 25px;
  aspect-ratio: 4/5;
  object-fit: cover;
}

.photo1 {
  top: 25px;
}
.photo2 {
  top: 550px;
}
.photo3 {
  top: 1075px;
}
.photo4 {
  top: 1600px;
}

.qr {
  bottom: 25px;
  width: 400px;
  aspect-ratio: 1;
  left: 25px;
}

.savethedate {
  position: absolute;
  top: 2115px;
  width: 450px;
  height: 100px;
  line-height: 100px;
}
.date {
  position: absolute;
  top: 2200px;
  width: 450px;
  height: 100px;
  line-height: 100px;
}
.names {
  position: absolute;
  top: 2285px;
  width: 450px;
  height: 100px;
  line-height: 100px;
}

.details {
  position: absolute;
  top: 25px;
  width: 100%;
}
