html {
  position: absolute;
  height: 820px;
  width: 396px;
  font-size: 26px;
  font-family: "EB Garamond", serif;
  background-color: #fff000;
}

/* A4 is 210mmx297mm */
/* 6 strips per A4 */
/* 45mm x 210mm (with 27mm leftover)*/

div {
  margin: unset;
  text-align: center;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 12px;
  position: absolute;
  top: 0;
  left: 0;
  height: 820px;
  width: 396px;
  background-color: white;
}

img {
  position: absolute;
  width: 180px;
  /* height: 90px; */
  left: 200px;
  aspect-ratio: 9/16;
  object-fit: cover;
}

.photo1 {
  top: 12px;
  left: 12px;
}
.photo2 {
  top: 12px;
  right: 12px;
}
.photo3 {
  top: 344px;
  left: 12px;
}
.photo4 {
  top: 344px;
  right: 12px;
}

.qr {
  position: absolute;
  bottom: 0;
  width: 170px;
  aspect-ratio: 1;
  left: unset;
  right: 0;
}

.savethedate {
  position: absolute;
  top: 660px;
  width: calc(100% - 24px);
  height: 60px;
  line-height: 60px;
}
.date {
  position: absolute;
  top: 704px;
  width: calc(100% - 24px);
  height: 60px;
  line-height: 60px;
}
.names {
  position: absolute;
  top: 752px;
  width: calc(100% - 24px);
  height: 60px;
  line-height: 60px;
}

.details-std {
  position: absolute;
  top: 12px;
  width: calc(100% - 24px);
}
.details-date-d {
  position: absolute;
  top: 55px;
  width: calc(100% - 24px);
  font-size: 40px;
}
.details-date-m {
  position: absolute;
  top: 87px;
  width: calc(100% - 24px);
  font-size: 40px;
}
.details-date-y {
  position: absolute;
  top: 125px;
  width: calc(100% - 24px);
  font-size: 40px;
}
.details-r {
  position: absolute;
  top: 160px;
  width: calc(100% - 24px);
  font-size: 80px;
}
.details-s {
  position: absolute;
  top: 230px;
  width: calc(100% - 24px);
  font-size: 80px;
}
.details-and {
  position: absolute;
  top: 320px;
  width: calc(100% - 24px);
  font-size: 48px;
}
.details-c {
  position: absolute;
  top: 350px;
  width: calc(100% - 24px);
  font-size: 80px;
}
.details-vz {
  position: absolute;
  top: 420px;
  width: calc(100% - 24px);
  font-size: 80px;
}
.details-fh {
  position: absolute;
  top: 520px;
  width: calc(100% - 24px);
  font-size: 53px;
}
.details-ny {
  position: absolute;
  top: 575px;
  width: calc(100% - 24px);
  font-size: 32px;
}
.details-fi {
  position: absolute;
  top: 625px;
  z-index: 1;
  width: calc(100% - 24px);
  line-height: 1;
  font-size: 28px;
}
.details-mi {
  position: absolute;
  top: 700px;
  width: 55%;
  line-height: 1;
  font-size: 28px;
}
