html {
  position: absolute;
  height: 210px;
  width: 99px;
  font-size: 13px;
  font-family: "EB Garamond", serif;
  background-color: #fff000;
}

/* A4 is 210mmx297mm */
/* 6 strips per A4 */
/* 45mm x 210mm (with 27mm leftover)*/

div {
  margin: unset;
  text-align: center;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  height: 210px;
  width: 99px;
  background-color: white;
}

img {
  position: absolute;
  width: 45px;
  /* height: 45px; */
  left: 50px;
  aspect-ratio: 9/16;
  object-fit: cover;
}

.photo1 {
  top: 3px;
  left: 3px;
}
.photo2 {
  top: 3px;
  right: 3px;
}
.photo3 {
  top: 86px;
  left: 3px;
}
.photo4 {
  top: 86px;
  right: 3px;
}

.qr {
  position: absolute;
  bottom: 0;
  width: 48px;
  aspect-ratio: 1;
  right: 0;
}

.savethedate {
  position: absolute;
  top: 165px;
  width: calc(100% - 6px);
  height: 20px;
  line-height: 20px;
}
.date {
  position: absolute;
  top: 176px;
  width: calc(100% - 6px);
  height: 20px;
  line-height: 20px;
}
.names {
  position: absolute;
  top: 188px;
  width: calc(100% - 6px);
  height: 20px;
  line-height: 20px;
}

.details-std {
  position: absolute;
  top: 3px;
  width: calc(100% - 6px);
}
.details-date-d {
  position: absolute;
  top: 18px;
  width: calc(100% - 6px);
  font-size: 10px;
}
.details-date-m {
  position: absolute;
  top: 26px;
  width: calc(100% - 6px);
  font-size: 10px;
}
.details-date-y {
  position: absolute;
  top: 35px;
  width: calc(100% - 6px);
  font-size: 10px;
}
.details-r {
  position: absolute;
  top: 45px;
  width: calc(100% - 6px);
  font-size: 20px;
}
.details-s {
  position: absolute;
  top: 60px;
  width: calc(100% - 6px);
  font-size: 20px;
}
.details-and {
  position: absolute;
  top: 83px;
  width: calc(100% - 6px);
  font-size: 12px;
}
.details-c {
  position: absolute;
  top: 90px;
  width: calc(100% - 6px);
  font-size: 20px;
}
.details-vz {
  position: absolute;
  top: 105px;
  width: calc(100% - 6px);
  font-size: 20px;
}
.details-fh {
  position: absolute;
  top: 129px;
  width: calc(100% - 6px);
  font-size: 14px;
}
.details-ny {
  position: absolute;
  top: 142px;
  width: calc(100% - 6px);
  font-size: 8px;
}
.details-fi {
  position: absolute;
  top: 155px;
  width: calc(100% - 6px);
  line-height: 1;
  font-size: 8px;
}
.details-mi {
  position: absolute;
  top: 178px;
  width: 50%;
  line-height: 1;
  font-size: 8px;
}
